* {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.inputErr {
  border-color: red;
}

p {
  color: magenta;
}

.gridCntr {
  background-color: green;
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr 1fr;
}
.gridCntr > div:first-child {
  background-color: pink;
  grid-column-start: 1;
  grid-column-end: -1;
}